OPENAI_API_KEY=<YOUR_API_KEY>
ANTHROPIC_API_KEY=<YOUR_API_KEY>

# https://docs.litellm.ai/docs/providers/openai#openai-chat-completion-models
# https://docs.litellm.ai/docs/providers/anthropic
# Common Model:
# - claude-opus-4-6-20260205
# - claude-3-haiku-20240307
# - gpt-5.4
# - gpt-5.2
# - gpt-4o
# - o4-mini
MODEL_ID="gpt-5.2"

# LITELLM_LOG="ERROR"
